/************ Navigation Styles ************/
.nav-container {
    padding: 0;
}

.nav-divider {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    font-size: 16pt;
    font-weight: bold;
    border-bottom: 1px solid #F44336;
    text-align: center;
}

.nav-link > a {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.nav-link > a:hover {
    color: #F44336;
}

.logout-btn {
    position: absolute !important;
    bottom: 30px;
    right: 30px;
}
/************ Login Styles ************/
.login-btn {
    height: 100px;
    width: 500px;
    object-fit: cover;
}
/************ Manage Events Styles ************/
.heading {
    text-align: center;
    border-bottom: 1px solid #F44336;
    width: 70%;
    margin: 20px auto;
}

@media screen and (max-width: 900px) {
    .heading { 
        width: 100%;
    }
}

.subheading {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.event-details > span {
    line-height: 2;
}

.new-btn {
    float: right;
}

.event-list {
    clear: right;
}

/************ Swipe Styles ************/
.swipedemoBasicUsage .demo-swipe {
    padding: 20px 10px; 
}
.swipedemoBasicUsage .no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.no-select {
    height: 100vh;
    width: 100%;
}
.swipeDirections {
    text-align: center;
    width: 100%;
    /* margin: 0 auto;
    padding: 80px; */
    font-size: 20px;
}
.swipeButton {
    font-size: 200px;
}
/************ Cmark Counter ************/
.cmarkCount {
    text-align: center;
    font-size: 78px;
    color: rgba(255,255,255,1.0);
}
.md-toolbar-tools .eventTitle {
    font-size: 48px;
}

/************ Join Event Styles ************/
.join-input{
    border: none;
    border-bottom: 2px solid #F44336;
    font-size: 24px;
    text-align: center;
    width: 152px;
    background-color: #303030;
    color: #ffffff;
}

.join-btn {
    margin-top: 25px !important;
}

.join-speaker {
    color: #27e7de;
    margin-top: 100px !important;
}

.complete-audio:hover {
    color: #F44336;
}