.nav-container {
    padding: 0;
}

.nav-divider {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    font-size: 14pt;
    border-bottom: 1px solid #F44336;
    text-align: center;
}

.nav-link > a {
    text-decoration: none;
    color: #212121;
    width: 100%;
    text-align: center;
}

.nav-link > a:hover {
    color: #F44336;
}

.logout-btn {
    position: absolute !important;
    bottom: 30px;
    right: 30px;
}

.heading {
    text-align: center;
}

.subheading {
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #F44336;
    width: 80%;
}

@media screen and (min-width: 900px) {
    .subheading {
        width: 25%;
    }
}

.event-details > span {
    line-height: 2;
}