
  <div layout="row" ng-controller="NavController">
    <md-sidenav md-component-id="right" class="md-sidenav-right">
      <md-toolbar class="md-primary user-header">

      </md-toolbar>
      <md-list class="nav-container">
        <md-list-item id="first-divider" class="nav-divider"><p>Audience</p></md-list-item>
        <md-list-item class="nav-link"><a href="#!join-event" style="outline: none">Join Event</a></md-list-item>
        <md-list-item class="nav-link"><a href="#!my-events" style="outline: none">My Events</a></md-list-item>
      </md-list>
      <md-list>
        <md-list-item class="nav-divider"><p>Speaker</p></md-list-item>
        <md-list-item class="nav-link"><a href="#!manage-events" style="outline: none">Manage Events</a></md-list-item>
      </md-list>
      <md-button class="logout-btn" ng-click="vm.userService.logout()">Log Out</md-button>
    </md-sidenav>
  </div>
