<md-dialog flex="90" layout-padding>
    <h2 class="heading" layout-align="center center">Add Event</h2>
    <form class="event-form">
        <md-input-container>
            <label>Event Title</label>
            <input ng-model="newEvent.title">
        </md-input-container>
        <md-input-container>
            <label>Speaker</label>
            <input ng-model="newEvent.speaker_name" type="text">
        </md-input-container>
        <md-input-container>
            <label>Location</label>
            <input ng-model="newEvent.location" type="text">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
            <label>Select a date...</label>
            <md-icon md-font-library="material-icons">today</md-icon>
            <input moment-picker="ctrl.stringDate"
                    locale="en"
                    format="YYYY-MM-DD"
                    ng-model="newEvent.date"
                    ng-model-options="{ updateOn: 'blur' }">
        </md-input-container>
        <!-- <md-input-container class="md-icon-float md-block">
            <label>Select a time...</label>
            <md-icon md-font-library="material-icons">today</md-icon>
            <input moment-picker="ctrl.timepicker"
                    locale="en"
                    format="HH:mm:ss"
                    ng-model="newEvent.start_time"
                    ng-model-options="{ updateOn: 'blur' }">
        </md-input-container> -->
        <md-input-container>
            <label>Enter a time...</label>
            <input type="time" ng-model="newEvent.start_time">
        </md-input-container>
        <div class="form-action" layout="row" layout-align="end center">
            <md-button flex class="form-button" ng-click="vm.hide()">Cancel</md-button>
            <md-button flex class="md-primary md-raised form-button" ng-click="vm.submitEvent(newEvent)">Add Event</md-button>
        </div>
    </form>
</md-dialog>