<div ng-include="'views/partials/user-header.html'"></div>


<div>
	<h1 class="heading" id="first-divider">{{vm.cmarkService.audienceCmarks.list[0].title}}</h1>
	<p class="manage-info">{{vm.cmarkService.audienceCmarks.list[0].speaker_name}} - {{vm.cmarkService.audienceCmarks.list[0].date | date: fullDate}}</p>
	<p class="manage-info">{{vm.cmarkService.audienceCmarks.list[0].location}}</p>

	<!--Commented out for now - might want to add buffer back in later-->
	<!--<form>-->
	<!--Buffer Amount in Seconds:-->
	<!--<input type="number" value=10 ng-model="vm.cmarkService.bufferAmount">-->
	<!--</form>-->


	<div ng-show="vm.audienceCmarks.list[0].audio_url != null">

		<div class="audio-div">

			<audio id="sample" src="{{vm.audienceCmarks.list[0].audio_url}}" controls preload
			       controlsList="nodownload"></audio>
		</div>

		<!--<div ng-repeat="cmark in vm.audienceCmarks.list">-->
		<!--<div ng-repeat="cmark in vm.adjustedCmarks">-->
		<!--<br>-->
		<!--&lt;!&ndash;<button ng-click="vm.cmarkService.playAudioSegment(vm.cmarkService.audienceCmarks.list[0].start_time, cmark)">Play Cmark at {{cmark._data.minutes}}:{{cmark._data.seconds}} </button>&ndash;&gt;-->
		<!--<br>-->
		<!--<ng-md-icon icon="play_circle_outline" style="fill:rgba(255,255,255,1.0)" size="50px" ng-click="vm.cmarkService.playAudioSegment(vm.cmarkService.audienceCmarks.list[0].start_time, cmark)">-->
		<!--</ng-md-icon>-->
		<!--<p>Play Cmark at {{cmark._data.minutes}}:{{cmark._data.seconds}} </p>-->
		<!--<br>-->
		<!--</div>-->


		<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
			<div flex-xs flex-gt-xs="60" layout="column">
				<h2 class="subheading">Play CMarks</h2>
				<p class="manage-info">Click on a CMark below to play audio.</p>
				<md-card class="event-cards" layout="column" layout-align="center center" ng-repeat="cmark in vm.adjustedCmarks">
		
				<md-card-actions layout="row" class="cmark-card">
					<md-button flex class="cmark-card"
					           ng-click="vm.cmarkService.playAudioSegment(vm.cmarkService.audienceCmarks.list[0].start_time, cmark)">
						<i class="material-icons cmark-card" style="font-size: 50px">play_circle_outline</i>{{cmark._data.minutes}}:{{cmark._data.seconds}}
					</md-button>
				</md-card-actions>
				</md-card>
			</div>
		</md-content>

	</div>

	<div class="cmark-noaudio"ng-if="vm.audienceCmarks.list[0].audio_url == null">
		<p>CMarks are not available</p>
		<p>The presenter has not uploaded the media for this event</p>
	</div>

</div>