<div ng-include="'views/partials/user-header.html'"></div>

<div>
	<div id="first-divider">
		<a href="#!/my-events" class="main-link">Back to My Events</a>
		<h1 class="heading">{{vm.cmarkService.audienceCmarks.list[0].title}}</h1>
	</div>
	<div>
		<p class="manage-info">{{vm.cmarkService.audienceCmarks.list[0].speaker_name}} - {{vm.cmarkService.audienceCmarks.list[0].date | date: fullDate}}</p>
		<p class="manage-info">{{vm.cmarkService.audienceCmarks.list[0].location}}</p>
	</div>
	<div ng-show="vm.audienceCmarks.list[0].audio_url != null">
		<div class="audio-div">
			<audio id="sample" src="{{vm.audienceCmarks.list[0].audio_url}}" controls preload controlsList="nodownload"></audio>
		</div>
		<md-content class="md-padding" layout="row" layout-align="center center">
			<div flex-xs flex-gt-xs="150" layout="column">
				<h2 class="subheading">Play CMarks</h2>
				<p class="manage-info">Click on a CMark below to play an audio clip surrounding your swipe.</p>
				<md-card class="event-cards" layout="column" ng-repeat="cmark in vm.cmarkArr.list | orderBy : 'displayCmark'">
					<md-card-actions layout="row" layout-align="space-between">
						<md-button layout="column" layout-align="center center" class="cmark-card" ng-click="vm.cmarkService.playAudioSegment(vm.cmarkService.audienceCmarks.list[0].start_time, cmark.cmarkAdjustedTime)">
							<ng-md-icon icon="play_circle_outline" class="cmark-card" style="fill: white" size="36"></ng-md-icon>
							<span class="cmark-time">{{cmark.displayCmark}}</span>
						</md-button>
						<div layout="row" class="comment-container" layout-align="center center">
							<span class="cmark-comment" ng-if="cmark.comment == null">Make Note</span>
							<span class="cmark-comment" ng-if="cmark.comment !== null">{{cmark.comment}}</span>
						</div>
						<md-button class="comment-icon" ng-click="vm.showAddComment(cmark, ev)">
							<ng-md-icon icon="comment" size="36" style="fill: white"></ng-md-icon>
						</md-button>
					</md-card-actions>

				</md-card>
			</div>
		</md-content>
	</div>
	<div class="cmark-noaudio" ng-if="vm.audienceCmarks.list[0].audio_url == null">
		<p class="noEvents">CMarks are not available. The presenter has not uploaded the media for this event</p>
	</div>
</div>