<md-dialog flex="80" layout-padding>
    <h2>Edit Event</h2>
    <md-content layout-padding layout="column">
        <md-input-container>
            <label>Event Title</label>
            <input ng-model="vm.eventToEdit.title" placeholder="{{vm.eventToEdit.title}}">
        </md-input-container>
        <md-input-container>
            <label>Speaker</label>
            <input ng-model="vm.eventToEdit.speaker_name" type="text" placeholder="{{vm.eventToEdit.speaker_name}}">
        </md-input-container>
        <md-input-container>
            <label>Location</label>
            <input ng-model="vm.eventToEdit.location" type="text" placeholder="{{vm.eventToEdit.location}}">
        </md-input-container>
        <div>
        <md-content class="md-no-momentum">
            <md-input-container class="md-icon-float md-block">
                <label>Select a date...</label>
                <md-icon md-font-library="material-icons">today</md-icon>
                <input moment-picker="ctrl.stringDate"
                        locale="en"
                        format="YYYY-MM-DD"
                        ng-model="vm.eventToEdit.date"
                        ng-model-options="{ updateOn: 'blur' }"
                        placeholder="{{vm.eventToEdit.date}}">
            </md-input-container>
        </md-content>
        <md-content class="md-no-momentum">
            <md-input-container class="md-icon-float md-block">
                <label>Select a time...</label>
                <md-icon md-font-library="material-icons">today</md-icon>
                <input moment-picker="ctrl.timepicker"
                        locale="en"
                        format="HH:mm:ss"
                        ng-model="vm.eventToEdit.start_time"
                        ng-model-options="{ updateOn: 'blur' }"
                        placeholder="{{vm.eventToEdit.start_time}}">
            </md-input-container>
        </md-content>


        </div>
    </md-content>
    <md-button ng-click="vm.editEvent(vm.eventToEdit)">submit</md-button>
</md-dialog>