<md-dialog flex="90" layout-padding layout-align="center center">
    <h2 class="heading">Edit Event</h2>
        <div>
            <md-input-container>
                <label>Event Title</label>
                <input ng-model="vm.eventToEdit.title" type="text">
            </md-input-container>
        </div>

        <div>
            <md-input-container>
                <label>Speaker</label>
                <input ng-model="vm.eventToEdit.speaker_name" type="text">
            </md-input-container>
            <md-input-container>
                <label>Location</label>
                <input ng-model="vm.eventToEdit.location" type="text">
            </md-input-container>
        </div>
        <md-input-container class="md-icon-float md-block">
                <label>Select a date...</label>
                <md-icon md-font-library="material-icons">today</md-icon>
                <input moment-picker="ctrl.stringDate"
                        locale="en"
                        format="YYYY-MM-DD"
                        ng-model="vm.eventToEdit.date"
                        ng-model-options="{ updateOn: 'blur' }"
                        placeholder="{{vm.eventToEdit.date}}">
        </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label>Select a time...</label>
                <input moment-picker="vm.eventToEdit.start_time"
                        locale="en"
                        format="HH:mm:ss"
                        ng-model="vm.eventToEdit.start_time"
                        ng-model-options="{ updateOn: 'blur' }"
                        placeholder="{{vm.eventToEdit.start_time}}">
            </md-input-container>
    <md-button ng-click="vm.editEvent(vm.eventToEdit)">submit</md-button>
</md-dialog>