<div ng-include="'views/partials/header.html'"></div>

<div id="noOverscroll" class="swipeContainer">
  <div ng-cloak class="no-select" layout="column" layout-align="center center" md-swipe-up="vm.onSwipeUp($event, $target)">
    <p class="swipeDirections" ng-if="vm.count == 0" layout-align="space-between center">
      Swipe up to save noteworthy points during the event.
    </p>
    <div class="countContainer" ng-if="vm.count != 0">
      <h1 class="cmarkCount">{{vm.count}}</h1>
    </div>
  </div>
  <div class="swipeButtonContainer" layout="row" layout-align="center">
    <md-button class="md-primary swipeButton" type="button" ng-click="vm.confirmFinish()">
      Finish Event
    </md-button>
  </div>
</div>