<div ng-include="'views/partials/header.html'"></div>

<div ng-cloak layout="column" class="swipeContainer">

    <md-divider></md-divider>
    <div flex layout="column" layout-align="center center">
      <div layout="column" layout-align="center center" class="demo-swipe" md-swipe-up="vm.onSwipeUp($event, $target)">
        <label>Swipe me up</label>
        <h1 class="no-select"><md-icon class="large material-icons icon-arrow" md-svg-src="../../assets/cmarkArrow.svg"></md-icon></h1>
      </div>
    </div>
    <md-button class="md-primary" ng-click="vm.finishEvent()">Finish Event</md-button>
    <md-divider></md-divider>

</div>