<div ng-include="'views/partials/header.html'"></div>

<h1>Please Login to start</h1>
<div>
    <a class="linkedLogin" href="/api/linked/auth/linkedin">
        <button linked-in type="button">LinkedIn Login</button>
        <!-- <img class="login-btn" src="../../assets/btn-linkedin-blue.png" /> -->
    </a>
</div>

<div>
    <a href="/auth/google">
        <button g-login type="button">Google Login</button>
        <!-- <button class="login-btn" src="../../assets/btn_google_signin_dark_normal_web.png" /> -->
    </a>
</div>