
<div class="loginContainer" layout="column" layout-align="center center">

    <div class="loginHeadingContainer">
        <h1 class="cmarkHeading">CMarks</h1>
    </div>

    <div class="socialLoginContainer">
        <a class="socialLogin" href="/api/linked/auth/linkedin">
            <md-button class='md-raised login-btn' layout="row" layout-align="space-between center">
                <div layout="row" layout-align="center center">
                    <ng-md-icon layout="center center" class="loginIcon" icon="linkedin" style="fill:#303030" size="32px"></ng-md-icon>
                    <h2 class="loginHeader">Login with Linkedin</h2>
                </div>
            </md-button>
        </a>
    </div>

    <div class="socialLoginContainer">
        <a href="/auth/google" class="socialLogin">
            <md-button class="md-raised login-btn" layout="row" layout-align="space-between center">
                <div layout="row" layout-align="center center">
                    <ng-md-icon layout="center center" class="loginIcon" icon="google-plus" style="fill: #303030" size="32px"></ng-md-icon>
                    <h2 class="loginHeader">Login with Google</h2>
                </div>
            </md-button>
            <!-- <button g-login type="button">Google Login</button> -->
            <!-- <button class="login-btn" src="../../assets/btn_google_signin_dark_normal_web.png" /> -->
        </a>
    </div>
</div>
