<div ng-include="'views/partials/user-header.html'"></div>

<md-button class="new-btn">
    <ng-md-icon icon="add_box" size="36" style="fill: #F44336"></ng-md-icon>
</md-button>
<h1 class="heading">Manage Events</h1>

<div class="event-list">
    <h2 class="subheading">Upcoming Events</h2>

    <md-content class="md-padding" layout-xs="column" layout="row"  layout-align="center center">
        <div flex-xs flex-gt-xs="80" layout="column">
            <md-card layout="column">
                <md-card-title>
                    <md-card-title-text layout="row" layout-align="center center">
                            <span class="md-headline">JavaScript MN: Intro to React</span>
                    </md-card-title-text>
                </md-card-title>
                <div layout="row" layout-align="space-around">
                    <md-card-content layout="column" class="event-details">
                            <span>Speaker: Joe Karlsson</span>
                            <span>Location: Prime Digital Academy</span>
                            <span>Join Code: REACT</span>
                    </md-card-content>
                    <md-card-content layout="column" class="event-details">
                            <span>Date: 3/7/2018</span>
                            <span>Start Time: 3:00 PM</span>
                    </md-card-content>    
                </div>
    
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-primary">Mark Complete</md-button>
                    <md-button><i class="material-icons">mode_edit</i></md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
    
    <h2 class="subheading">Past Events</h2>
    <md-content class="md-padding" layout-xs="column" layout="row"  layout-align="center center">
        <div flex-xs flex-gt-xs="80" layout="column">
            <md-card layout="column">
                    <md-card-title>
                        <md-card-title-text layout="row" layout-align="center center">
                                <span class="md-headline">JavaScript MN: Intro to React</span>
                        </md-card-title-text>
                    </md-card-title>
                    <div layout="row" layout-align="space-around">
                        <md-card-content layout="column" class="event-details">
                                <span>Speaker: Joe Karlsson</span>
                                <span>Location: Prime Digital Academy</span>
                                <span>Join Code: REACT</span>
                        </md-card-content>
                        <md-card-content layout="column" class="event-details">
                                <span>Date: 3/7/2018</span>
                                <span>Start Time: 3:00 PM</span>
                        </md-card-content>    
                    </div>
        
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-primary">Upload Audio</md-button>
                        <md-button><i class="material-icons">mode_edit</i></md-button>
                    </md-card-actions>
                </md-card>
        </div>
    </md-content>
        
</div>
